<h3>Rozliczenie</h3>
<table id="settlementsTable" data-language='{ "url":"/datatables/<%= t :datatablesLangName %>.json"}' class="table table-bordered">
	<thead>
		<tr class="thead-inverse">
			<th><%=t :purchaser %></th>
			<th><%=t :to_pay %></th>
			<th><%=t :paid %></th>
            <th><%=t :missing%>
		</tr>
	</thead>
	<tbody>
		<% @order.settlements.each do |settlement| %>
            <% missing =settlement.to_pay - settlement.paid %>
            <tr class="<%= missing > 0 ? "danger": missing == 0 ? "success" : "info" %>">
                <td><%= settlement.user.email %></td>
                <td><%= number_with_precision(settlement.to_pay, precision:2) %></td>
                <td>
                    <% if @order.can_settling?(current_user) && @order.close? %>
                        <%= form_for [@order, settlement], url: order_settlement_path(@order, settlement), method: :patch , html: {class: "form-inline"} do |f| %>
                            <%= f.number_field(:paid, min: 0, step: 0.01, class: "form-control") %> 
                            <%= f.submit :value => t(:save), :class => "btn btn-primary" %>
                        <% end %>
                    <% elsif %>
                        <%= number_with_precision(settlement.paid, precision:2) %>
                    <% end %>
                </td>
                <td><%= number_with_precision(missing, precision: 2) %></td>
            </tr>
		<% end %>
	</tbody>
</table>