<h3><%=t :new_order_thing %></h3>
<% @order.things.each do |thing| %>
	<%= render partial: 'shared/errors', locals: { validated: thing } %>
<% end %>
<%= form_for([@order, @order.things.build], html: {class: "form-inline"}) do |f| %>
	<%= f.label t :name , class: "form-control"%>:
	<%= f.text_field :name , class: "form-control"%>
	<%= f.label t :cost , class: "form-control"%>:
	<%= f.number_field(:cost, min: 0, step: 0.01, class: "form-control")  %>
	<%= f.submit :value => t(:accept) , :class => "btn btn-primary" %>
<% end %>