<h3><%=t :things %></h3>
<table id="thingsTable" data-language='{ "url":"/datatables/<%= t :datatablesLangName %>.json"}' class="table table-bordered">
	<thead>
		<tr class="thead-inverse">
			<th><%=t :name %></th>
			<th><%=t :cost %></th>
			<th><%=t :purchaser %></th>
            <% if @order.open? %>
			    <th data-orderable="false"></th>
            <% end %>
		</tr>
	</thead>
	<tbody>
		<% @order.things.each do |thing| %>
			<% if !thing.errors.any? %>
				<tr>
					<td><%= thing.name %></td>
                    <td><%= number_with_precision(thing.cost, precision:2) %></td>
					<td><%= thing.user.email %></td>
                    <% if @order.open? %>
                        <td align="center" width="20">
                        <% if thing.can_delete?(current_user) %>
                            <%= link_to '', [thing.order, thing], method: :delete, class: "glyphicon glyphicon-remove", data: { confirm: t(:are_you_sure) } %>
                        <% end %>
                        </td>
                    <% end %>
				</tr>
			<% end %>
		<% end %>
	</tbody>
</table>