<% if validated.errors.any? %>
    <% validated.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger alert-dismissable">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <%= msg %>
        </div>
    <% end %>
<% end %>