<div id="navbar">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="navbar-brand" class="navbar-brand" href="#">JointOrderPortal  </a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <ul id="menuOptions" class="nav navbar-nav">
                    <li><a href="/">Strona głowna</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <% if(user_signed_in?) %>
                        <li><a href=""><%= current_user.email %></a></li>
                        <li><%= link_to t(:signOut), destroy_user_session_path, :method => :delete %></li>
                    <% else %>
                        <%= render "devise/shared/links"%>
                    <% end %>
                </ul>
            </div>
        </div>
    </nav>
</div>