<h2><%=t :order %></h2>
<%= form_for :order, url: order_path(@order), method: :patch , html: {class: "form-inline"} do |f| %>
  <%= render partial: 'shared/errors', locals: { validated: @order } %>
  	<%= f.label t :name , class: "form-control"%>:
	<%= f.text_field :name , class: "form-control"%>
	<%= f.label t :status , class: "form-control"%>:
    <%= f.select :status, options_for_select(Order.translated_status_keys_for_select, @order.status), {}, class: "form-control"%>
    <%= f.label t :paymaster , class: "form-control"%>:
    <%= f.select :paymaster_id, @order.paymaster_candidate.collect {|u| [ u.email, u.id ] }, {}, class: "form-control"%>
	<%= f.submit :value => t(:accept) , :class => "btn btn-primary" %>
<% end %>
<h3><%=t :users %></h3>
<table id="extraTable" data-language='{ "url":"/datatables/<%= t :datatablesLangName %>.json"}' class="table table-bordered">
  <thead>
    <tr class="thead-inverse">
      <th><%= t :name %></th>
      <th data-orderable="false"></th>
    </tr>
  </thead>
  <tbody>
    <% @order.orders_users.each do |user| %>
        <% if !user.errors.any? %>
            <tr>
                <td><%= user.email %></td>
                <td align="center" width="20"><%= link_to '', [@order, user], method: :delete, class: "glyphicon glyphicon-remove", data: { confirm: t(:are_you_sure) } %></td>
            </tr>
        <% end %>
    <% end %>
   </tbody>
</table>
<%= render "orders_users/form" %>