<table id="ordersTable" data-language='{ "url":"/datatables/<%= t :datatablesLangName %>.json"}' class="table table-bordered">
  <thead>
    <tr class="thead-inverse">
      <th><%= t :name %></th>
      <th><%= t :status %></th>
      <th><%= t :cost %></th>
      <th><%= t :collected %></th>
      <th><%= t :missing %></th>
      <th><%= t :owner %></th>
      <th><%= t :paymaster %></th>
      <th data-orderable="false"></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <% missing = (order.cost.nil? ? 0 : order.cost) - (order.collected.nil? ? 0 : order.collected)%>
      <tr class="<%= missing > 0 ? "danger": missing == 0 ? "success" : "info" %>">
        <td><%= order.name %></td>
        <td><%= Order.translated_status_key(order.status) %></td>
        <td><%= number_with_precision(order.cost, precision:2) %></td>
        <td><%= number_with_precision(order.collected, precision:2) %></td>
        <td><%= number_with_precision(missing, precision: 2) %></td>
        <td>
          <% if(!order.owner.nil?)%>
            <%= order.owner.email %>
          <% end %>
        </td>
        <td>
          <% if(!order.paymaster.nil?)%>
            <%= order.paymaster.email %>
          <% end %>
        </td>
        <td align="center" width="60">
          <%= link_to '', order_path(order), class: "glyphicon glyphicon-info-sign"%>
          <% if order.can_edit?(current_user) %>
            <%= link_to '', edit_order_path(order), class: "glyphicon glyphicon-pencil" %>
          <% end %>
          <% if order.can_delete?(current_user) %>
            <%= link_to '', order_path(order), method: :delete, class: "glyphicon glyphicon-remove", data: { confirm: t(:are_you_sure) } %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= link_to t(:new_order), new_order_path, class: "btn btn-primary"%>