<h1><%=t :new_order %></h1>
<%= render partial: 'shared/errors', locals: { validated: @order } %>
<%= form_for :order, url: orders_path, html: {class: "form-inline"} do |f| %>
  	<%= f.label t :name, class: "form-control"%>:
	<%= f.text_field :name, class: "form-control"%>
	<%= f.submit :value => t(:accept), :class => "btn btn-primary"%>
<% end %>