<h2><%=t :order %>:</h2>
<p>
	<strong><%=t :name %>:</strong>
	<%= @order.name %>
</p>
<p>
	<strong><%=t :status %>:</strong>
	<%= Order.translated_status_key(@order.status) %>
</p>
<p>
	<strong><%=t :total %> <%=t(:cost).downcase %>:</strong>
	<%= number_with_precision(@order.cost, precision:2)  %>
</p>
<p>
	<strong><%=t :collected %>:</strong>
	<%= number_with_precision(@order.collected, precision:2) %>
</p>
<p>
	<strong><%=t :missing %>:</strong>
	<%= number_with_precision((@order.cost.nil? ? 0 : @order.cost) - (@order.collected.nil? ? 0: @order.collected), precision: 2) %>
</p>
<p>
	<strong><%=t(:owner) %>:</strong>
	<%= @order.owner.email %>
</p>
<p>
	<strong><%=t(:paymaster) %>:</strong>
	<% if(!@order.paymaster.nil?)%>
		<%= @order.paymaster.email %>
	<% end %>
</p>
<% if @order.close? || @order.finish? %>
	<%= render "settlements/index" %>
<% end %>
<%= render "things/index" %>
<% if @order.open? %>
	<%= render "things/form" %>
<% end %>