<div class="row">
  <div class="col-sm-2">
  </div>
  <div class="col-sm-8">
    <div class="col-sm-12 center">
      <h2><%= t :logIn %></h2>
    </div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
      <div class="form-group">
        <%= f.label :email, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>
      </div>

      <div class="form-group">
        <%= f.label :password, class: "col-sm-2 control-label" %>
        <div class="col-sm-10">
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
              <label>
                <%= f.check_box :remember_me %>
                <%= f.label :remember_me %>
              </label>
            </div>
          </div>
        </div>
      <% end -%>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
        <%= f.submit :value => t(:accept) , :class => "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="col-sm-2">
  </div>
</div>