<h3><%=t :new_orders_users %></h3>
<%= form_for([@order, @order.orders_users.build], html: {class: "form-inline"}) do |f| %>
	<%= f.label t :email , class: "form-control"%>:
	<%= f.text_field :email , class: "form-control"%>
	<%= f.submit :value => t(:accept) , :class => "btn btn-primary" %>
<% end %>