<!DOCTYPE html>
<html>
  <head>
    <title>JoinOrderPortal</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'shared/menu' %>
    <div class = "main_content">
      <%= yield %>
    </div>
  </body>
</html>
